@media only screen and (min-device-width: 415px) {

    .h-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 0.5rem;
    }

}