@media only screen and (min-device-width: 800px) {

    .h-container {
        width: 800px;
        margin: auto;
    }

    .container {
        width: 800px;
        margin: auto;
    }

    .f-container {
        width: 800px;
        margin: auto;
    }

}