/*---------------------------------------------------*/
:root {
    --color-bk0: rgb(255, 255, 255);
    --color-bk1: rgb(53, 41, 219); 
    --color-bk2: rgb(185, 181, 187);
    --color-bk3: rgb(192, 192, 229);
    --color-ft0: black;
    --color-ft1: white;
    }
/*---------------------------------------------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }
/*---------------------------------------------------*/
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    }
/*---------------------------------------------------*/
body {
    background-color: var(--color-bk0);
}
/*---------------------------------------------------*/
header {
    background-color: var(--color-bk1);
    color: var(--color-ft1);
}
/*---------------------------------------------------*/
.h-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;
}
/*---------------------------------------------------*/
.h-container img {
    height: 10rem;
    margin: 0.5rem;
    border-radius: 2.5rem;
}
/*---------------------------------------------------*/
.h-container p {
    font-size: 2.5rem;
}
/*---------------------------------------------------*/
aside {
    background-color: var(--color-bk2);
    font-size: 1.6rem;
    padding: 1rem;
}
/*---------------------------------------------------*/
.a-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
/*---------------------------------------------------*/
.a-menu {
    list-style: none;
}
/*---------------------------------------------------*/
.a-menu li {
    display: inline-block;
    margin-left: 1rem;
}
/*---------------------------------------------------*/
.a-menu a {
    text-decoration: none;
}
/*---------------------------------------------------*/
main {
    background-color: var(--color-bk3);
    font-size: 1.6rem;
    padding: 1.5rem;
}
/*---------------------------------------------------*/
p {
    margin-bottom: 1rem;
    text-align: justify;
}
/*---------------------------------------------------*/
footer {
    background-color: var(--color-bk1);
    color: var(--color-ft1);
}
/*---------------------------------------------------*/
.f-container {
    font-size: 1.6rem;
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
/*---------------------------------------------------*/