@media only screen and (min-device-width: 600px) {
/*-----------------------------------*/
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
}
/*-----------------------------------*/
aside {
    width: 20%;
}
/*---------------------------------------------------*/
.a-container {
display: block;
}
/*---------------------------------------------------*/
.a-menu li {
    display: block;
    margin-left: 0.8rem;
}
/*-----------------------------------*/
main {
    width: 80%;
}
/*-----------------------------------*/
}