/*---------------------------------------------------*/
:root {
  --color-bk0: #003476; 
  --color-ft0: white; 
  --width-pg0: 900px;
}
/*---------------------------------------------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*===================================================*/
/*                     HEADER                        */
/*===================================================*/
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
 }
/*---------------------------------------------------*/
header {
  background-color: var(--color-bk0);
  color: var(--color-ft0);
}
/*---------------------------------------------------*/
.divHeader {
  width: var(--width-pg0);
  height: 80px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
/*---------------------------------------------------*/
.foto {
  height: 80px;
  width: 140px;
  border-radius: 40px;
  position: relative;
  top: 10px;
  border: 1px solid;
  box-shadow: 5px 5px 10px black;
}
/*---------------------------------------------------*/
header p {
  font-size: 30px;
  font-style: italic;
}
/*===================================================*/
/*                      MAIN                         */ 
/*===================================================*/
main {
  width: var(--width-pg0);
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
}
/*===================================================*/
/*                     ASIDE                         */ 
/*===================================================*/
aside {
  background-color: #3f77ee;
  width: 200px;
  padding: 20px;
}
/*---------------------------------------------------*/
aside ul {
  list-style: none;
}
/*---------------------------------------------------*/
/*===================================================*/
/*                    ARTICLE                        */ 
/*===================================================*/
article {
  width: 700px;
  padding: 20px;
}
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*===================================================*/
/*                     FOOTER                        */
/*===================================================*/
footer {
  background-color: var(--color-bk0);
  color: var(--color-ft0);
  height: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
/*---------------------------------------------------*/
footer p {
  font-size: 12px;
}
/*---------------------------------------------------*/