/*---------------------------------------------------*/
:root {
  --color-bk0: #003476; 
  --color-ft0: white; 
  --width-pg0: 1000px;
}
/*---------------------------------------------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*---------------------------------------------------*/
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
 }
/*===================================================*/
/*                     HEADER                        */
/*===================================================*/
header {
  background-color: var(--color-bk0);
  color: var(--color-ft0);
}
/*---------------------------------------------------*/
.divHeader {
  width: var(--width-pg0);
  height: 120px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
/*---------------------------------------------------*/
.foto {
  height: 120px;
  width: 210px;
  border-radius: 60px;
  position: relative;
  top: 10px;
  border: 1px solid;
  box-shadow: 5px 5px 10px black;
}
/*---------------------------------------------------*/
header p {
  font-size: 3rem;
  font-style: italic;
}
/*===================================================*/
/*                      MAIN                         */ 
/*===================================================*/
main {
  width: var(--width-pg0);
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
}
/*===================================================*/
/*                     ASIDE                         */ 
/*===================================================*/
aside {
  background-color: #3f77ee;
  width: 150px;
  padding: 20px;
  font-size: 1.6rem;
}
/*---------------------------------------------------*/
aside ul {
  list-style: none;
}
/*---------------------------------------------------*/
/*===================================================*/
/*                    ARTICLE                        */ 
/*===================================================*/
article {
  width: calc( var(--width-pg0) - 150px );
  padding: 20px;
  font-size: 1.6rem;
  border-right: 1px solid black;
}
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*===================================================*/
/*                     FOOTER                        */
/*===================================================*/
footer {
  background-color: var(--color-bk0);
  color: var(--color-ft0);
  height: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
/*---------------------------------------------------*/
footer p {
  font-size: 1.2rem;
}
/*---------------------------------------------------*/